* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 600px;
  margin: auto;
  font-family: "Karla", sans-serif;
}

header {
  height: 70px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  margin-top: 8vh;
  color: #fff;
}

.logo {
  width: 50px;
  margin-left: 50px;
}

.form{
  margin-top: 20px;
}

.form label {
  width: 250px;
  display: inline-flex;
  flex-direction: column;
  margin-top: 5px;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 1.2rem;
  font-weight: 200;
}

.form label:nth-child(2) {
  margin-left: 50px;
}

.form input {
  text-indent: 10px;
  border: 1px solid #D5D4D8;
}

.form input,
.form button {
  font-family: "Karla", sans-serif;
  min-height: 40px;
  border-radius: 5px;
  margin-top: 5px;
}

.form button {
  width: 400px;
  margin: 10px 0 20px 100px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border: none;
  color: #fff;
  font-size: 1.25rem;
  margin-top: 15px;
  cursor: pointer;
}

.meme {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto 20px auto;
}

.img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.meme span {
  position: absolute;
  text-align: center;
  font-family: impact, sans-serif;
  margin-block: 15px;
  padding-inline: 5px;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.meme span:nth-child(2) {
  top: 0;
}

.meme span:nth-child(3) {
  bottom: 0;
}